* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.accordion {
    width: 80%;
    margin: 50px auto;
}

.accordion-item {
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.accordion-content {
    display: none;
    padding: 10px;
}

h1{
    text-align: center;
}
